:root{
    /* Core Colors */
  --color-primary: #2e7d32;       /* Verde forte (biologia) */
  --color-primary-light: #60ad5e; /* Verde mais claro */
  --color-secondary: #81c784;     /* Verde suave */
  --color-accent: #aed581;        /* Verde amarelado */
  
  /* UI & Background */
  --color-background: #e8f5e9;    /* Verde muito claro (fundo geral) */
  --color-surface: #ffffff;       /* Branco puro para cartas e modais */
  --color-muted: #c8e6c9;         /* Fundo de elementos inativos */
  --color-text: #1b5e20;          /* Texto principal */
  --color-text-muted: #4e944f;    /* Texto secundário/descritivo */

  /* Feedback */
  --color-correct: #66bb6a;
  --color-wrong: #ef5350;
  --color-border: #a5d6a7;

  /* Typography */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Source Sans 3', sans-serif;
}